<%- include('partials/_header.ejs') -%>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Berkant Güneş</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Computer Engineer - Backend Developer - Node.js</p>
            </div>
        </header>
       
        
 <!-- Portfolio Section-->
 <section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->

            <% for(let i = 0; i < portfolios.length;i++){ %>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal<%= portfolios[i]._id%>">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="<%= portfolios[i].image %>" alt="..." />
                </div>
            </div>
            <% } %>
         
        </div>
    </div>
</section>

<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<% for(let i = 0; i < portfolios.length;i++){ %>
<div class="portfolio-modal modal fade" id="portfolioModal<%= portfolios[i]._id%>" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"><%= portfolios[i].title %></h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="<%= portfolios[i].image %>" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4"><%= portfolios[i].description %></p>
                           
                            <a class="btn btn-warning btn-xl text-uppercase" type="button" href="/portfolio/edit/<%= portfolios[i]._id %>">
                                <i class="fa-regular fa-pen-to-square"></i>
                                <span>Edit</span>
                                
                            </a>
                            <a class="btn btn-danger btn-xl text-uppercase"  href="/portfolio/<%=portfolios[i]._id %>?_method=DELETE" onclick="return confirm('Are you sure!')" type="button">
                                <i class="fa-regular fa-trash"></i><span>Delete</span>
                                
                            </a>
                            <a class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% } %>


        <!-- Footer-->
<%- include('partials/_footer.ejs') -%>
        